{% extends 'base.html' %}
{% block title %}Add blog{% endblock %}

{% block content %}
    <h1>Add Blog</h1>
    <form method="POST" action="/blog/add">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages: %}
            <p class=flashes>
                {{ message }}
            </p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {{ form.csrf_token }}
        {{ form.title.label }} {{ form.title(size=30) }}
        {{ form.subtitle.label }} {{ form.subtitle(size=30) }}
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {{ ckeditor.create() }}
        {{ form.submit }}
    </form>
{% endblock %}