{% extends 'base.html' %}

{% block title %}{{blog.title}}{% endblock %}

{% block content %}

{% if bkm_status == 1 %}
<a href="{{url_for('del_bookmarks',blog_id=blog.blog_id)}}">Remove bookmark</a>
{% endif %}

{% if bkm_status == 2 %}
<a href="{{url_for('add_bookmarks',blog_id = blog.blog_id)}}">Add bookmamrk</a>
{% endif %}

<h3>{{blog.title}}</h3>
<h4>{{blog.subtitle}}</h4>
<h5>Categories</h5>
{% for category in categories %}
<p> {{category.name}}</p>
{% endfor %}
<h5>Content</h5>
<p>{{blog.content|safe}}</p>

{% if current_user.is_authenticated and current_user.id == blog.author_id %}
<button><a href="{{url_for('edit_blog',blog_id = blog.blog_id)}}">Edit blog</a></button>
<button><a href="{{url_for('delete_blog',blog_id = blog.blog_id)}}">Delete blog</a></button>
{% else %}
{% if current_user.is_authenticated %}
<button><a href="{{url_for('add_comment',blog_id = blog.blog_id )}}">Add Comment</a></button>
{% endif %}
{% endif %}
{% if comments %}
<h2>Comments</h2>
{% for comment in comments %}
<h3>{{comment.content}}</h3>
<h4>By {{comment.name}}</h4>
{% if current_user.is_authenticated and current_user.id == comment.uid %}
<a href="{{url_for('delete_comment', comment_id = comment.id,blog_id = blog.blog_id) }}">✘</a>
{% endif %}
{% endfor %}

{% endif %}
{% endblock %}

