<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/api/user" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/>
    <label for="phnum">Phone Number: </label>
    <input type="text" name="phnum" id="phnum"/>
    <label for="prof_pic">Profile Pic URL: </label>
    <input type="text" name="prof_pic" id="prof_pic"/>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email"/>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password"/>
    <button type="submit">Submit User</button>
   </form>
   <br/><br/><br/><br/>
   <form action="/api/blog" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title"/>
    <label for="subtitle">Subtitle: </label>
    <input type="text" name="subtitle" id="subtitle"/>
    <label for="content">content: </label>
    <input type="text" name="content" id="content"/>
    <label for="category">category: </label>
    <input type="text" name="category" id="category"/>
    <button type="submit">Submit Blog</button>
   </form>
   <br/><br/><br/><br/>
   <form action="/api/category" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/>
    
    <button type="submit">Submit Category</button>
   </form>
   <form action="/api/blogCategory/1" method="post">
    
    <input type="checkbox" id="tech" name="tech" value="1">
    <label for="tech"> Technology</label><br>
    <input type="checkbox" id="sport" name="sport" value="2">
    <label for="sport">Sports</label><br>
    <input type="checkbox" id="social" name="social" value="3">
    <label for="social">Social</label><br>
    
    <button type="submit">Submit Category</button>
   </form>
</body>
</html>