{% extends 'base.html' %}

{% block title %}Blog Site{% endblock %}

{% block content %}
    {% if user %}
    <h1>{{user.name}} Logged in</h1>
    {% else %}
    <h1>Anonymous</h1>
    {% endif %}
    {% for blog in all_blogs %}
    <h3><a href="{{url_for('blog',blog_id=blog.blog_id)}}">{{blog.title}}</a></h3>
    <h4>{{blog.subtitle}}</h4>
    <p>{{blog.content|safe if blog.content|length < 80 else (blog.content[:80]|safe + "...read more")}}</p>
    {% endfor %}

    {% if current_user.is_authenticated %}
    <button><a href="{{url_for('add_blog')}}">Add post</a></button>
    {% endif %}
{% endblock %}
