{% extends 'base.html' %}
{% block title %}Bookmarks{% endblock %}

{% block content %}
<div class="container shadow mt-4" style="min-height:80vh;">
    <h1 class="text-center">Bookmarks</h1>

    {% if bkms|length == 0 %}
    <h5>No Bookmarks</h5>
    <h5 class="mb-3">Suggestions:</h5>
    <div class="row">

        {% for s in suggest_blogs %}
        <div class="col-6">
            <div class="post-preview">
                <a href="{{url_for('blog',blog_id=s.blog_id)}}" class="link-dark">
                    <h2 class="post-title">{{s.title}}</h2>
                </a>
                <h5 class="post-subtitle">{{s.subtitle}}</h5>
                <p class="post-meta">Posted by&nbsp;<a href="{{url_for('profile',user_id=s.author_id)}}"
                                                       class="link-dark"><em>{{s.name}}</em></a>
                    on {{s.date_added.strftime("%b %d, %Y")}}</p>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="row mt-5 p-5">
        <div class="col-7">
            {% for bkm in bkms %}
            <div class="post-preview">
                <a href="{{url_for('blog',blog_id=bkm.blog_id)}}" class="link-dark">
                    <h2 class="post-title">{{bkm.title}}</h2>
                </a>
                <h5 class="post-subtitle">{{bkm.subtitle}}</h5>
                <p class="post-meta">Posted by&nbsp;<a href="{{url_for('profile',user_id=bkm.author_id)}}"
                                                       class="link-dark"><em>{{bkm.name}}</em></a>
                    on {{bkm.date_added.strftime("%b %d, %Y")}}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-5">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent fw-bold">Number of Bookmarks</div>
                <div class="card-body">
                    <h5 class="card-title">{{count}}</h5>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}