{% extends 'base.html' %}
{% block title %}Notification{% endblock %}

{% block content %}
<div class="container shadow-sm mt-5" style="min-height:80vh;">
    <h1 class="text-center">Notifications</h1>

    {% if notifications|length == 0 %}
    <strong class="m-3">No new notifications</strong>
    {% else %}
    <div class="mt-5">
        {% for notif in notifications %}
        <div class="alert alert-info" role="alert">
            <div class="row">
                <div class="col-6">
                    <strong>{{notif.title}}</strong>
                    <p>{{notif.description}}</p>
                </div>
                <div class="col-6 text-center d-flex flex-column">
                    <a href="{{url_for('blog',blog_id = notif.blog_id)}}">
                        <button class="btn btn-primary mb-3">
                            Read Now
                        </button>
                    </a>
                    <a href="{{url_for('del_notification',notif_id=notif.notif_id)}}">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}